<%layout("/layout/adminBoiler.ejs")%>
   <nav> <h4>Admin:- <%=adminUser.name%></h4> </nav>
<section>
    <div id="admin">
        <h5>Admin List</h5>
         <ol>
            <%for(let admin of adm){%>
                    <li><a><%=admin.username%></a></li>
                    <%}%>
                    <br>
         </ol>
        
        </div>
   

    <div>
        <h3>Students</h3> <a href="/admin/alluser">All Students</a>
        <ol>
            <%for(let user of use){%>
                    <li><a><%=user.username%></a></li>
                    <br>
                    <%}%>
        </ol>
        
                    
        
        
    </div>

        <div>
        <table>
            <caption>All Content</caption>
            <thead><tr>
                <th>Title</th>
                
            </tr></thead>
            <tbody>
                <%for(let tit of allData){%>
                    <tr>
                        <th><a href="/admin/detail/<%=tit.id%>"><%=tit.title%></a></th>
                        
                        
                    </tr>
                    
                    <%}%>
                    
            </tbody>
        </table>

        <a href="/admin/content">See All</a>
        
    </div>
</section>


   
