<%layout("/layout/adminBoiler.ejs")%>
   <nav> <h4>Admin:- <%=adminUser.name%></h4> </nav>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sl-1 adminDash">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Total Active Admins</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%=noAdm%></h6>
    
    <a href="/admin/alluser" class="card-link">All Admins</a>
    <b>||</b>
    <a href="/admin/add-student" class="card-link">Add Admin</a>
    </div>
    
    </div>
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Total Students</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%=nouser%></h6>
    
    <a href="/admin/alluser" class="card-link">All Students</a>
    <b>||</b>
    <a href="/admin/add-student" class="card-link">Add Student</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Total Videos</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%=noData%></h6>
    
    <a href="/admin/content" class="card-link">All Videos</a>
    <b>||</b>
    <a href="/admin/add-vid" class="card-link">Add Video</a>
    </div>
    </div>
    

    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Approve Request</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%=reqNo%></h6>
    
    <a href="/admin/user/request" class="card-link">Request List</a>

    </div>
    </div>
        
                    
        
        

</div>


   
