<%layout("/layout/adminBoiler.ejs")%>
    <h5>Admin:- <%=adminUser.username%></h5>
    <div>
        <h4>Title:- <%= detail.title%></h4>
        <h3><%=detail.index%></h3>
        <h3><%=detail.createdAt%></h3>
        
        <h3><%=detail.link%></h3>
        <iframe width="560" height="315" src="<%=detail.link%>"></iframe>
        <h5>Disciprition:- <%=detail.Dis%></h5>
        
    </div>
    <form method="post" action="/admin/<%= detail._id %>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
    
