<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title><%=detail.title%></title>
</head>
<body>
    <div>
        <h4>Title:- <%= detail.title%></h4>
        <h3><%=detail.link%></h3>
        <iframe width="560" height="315" src="<%=detail.link%>"></iframe>
        <h5>Disciprition:- <%=detail.Dis%></h5>
        
    </div>
    <form method="post" action="/admin/<%= detail._id %>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
    
</body>
</html>