<%layout("/layout/adminBoiler.ejs")%>
    <h5>Admin:- <%=adminUser.username%></h5>
    <h5>Video ID: <%=tdata.id%></h5>
    <form method="post" action="/admin/<%=tdata.id%>?_method=PUT">
        <h5>Title</h5>
        <input type="text" name="title" value="<%=tdata.title%>">
        <h5>Link</h5>
        <input type="text" name="link" value="<%=tdata.link%>">
        <h3>Video Index</h3>
        <input type="text" name="index" value="<%=tdata.index%>">
        <h3>Date Time:- <%=tdata.createdAt%></h3>
        <h5>Disciprition</h5>
        <textarea name="Dis"><%=tdata.Dis%></textarea>
        <button>Submit</button>
    </form>
    
