<%layout("/layout/adminBoiler.ejs")%>
    <div>
        <h5>Name:- <%=student.name%></h5>
        <h5>Mobile No.:- <%=student.mob%></h5>
        <h5>Email id:- <%=student.email%></h5>
        <h5>Username:- <%=student.username%></h5>
        <h5>Student ID:- <%=student.id%></h5>
    </div>
    <form action="/admin/alluser/<%=student.id%>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
    
